*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*----------------------------------Обнуление стилей CSS--------------------------------------*/
.main, .logo, .menubar, .site_content, .footer {
	margin-left: auto;
	margin-right: auto;
}

body{
	font-size: 1.2em;
	background-color: #fff;
	color: #555;
}
p{
	padding: 1% 0px 1% 0%;
	line-height: 1.7em;
}

h2 {
	color: #0971ad;
	font-size: 25px;
	font-family: segoe print;
	text-align: left;
}
.header{
	background-color: #88b7e3;
	margin-left: 0px;
	margin-right: 0px;
	min-width: 880px;
}
.logo	{
	padding: 20px 2% 50px 0;
	text-align: center;
}
/*ЗАГОЛОВОК "ДОМКИНО"*/
.heading a {
	font-family: consolas;
	font-size: 50px;
	color: #364061;
	padding: 15px 30px;
}
/*НЕОН-КНОПКА--------------------------------------------------------------------------------------*/
.heading a:hover {
color: white;
background: #7a2bcf78;
box-shadow: 0 0 1000px #7a2bcf,0 0 60px #7a2bcf,0 0 1000px #7a2bcf;
transition: 1s;
transition-delay: 1s;
}
/*ЗМЕЙКА НА НЕОН-КНОПКЕ-------------------------------------------------------------------------------*/
a span {
	display: block;
	position: absolute;
}
/*ЗМЕЙКИ---------------------------------------*/
a span:nth-child(1)
{
	top: 32px;
	left: 645px;
	width: 0px;
	height: 3px;
}
a:hover span:nth-child(1)
{
width: 255px;
background: linear-gradient(90deg,transparent,#7a2bcf);
transition: 2s;
}
a span:nth-child(8)
{
	top: 32px;
	left: 910px;
	width: 0px;
	height: 3px;
}
a:hover span:nth-child(8)
{
left: 650px;
width: 255px;
background: linear-gradient(270deg,transparent,#7a2bcf);
transition: 2s;
}
a span:nth-child(3)
{
	top: 120px;
	left: 910px;
	width: 0px;
	height: 3px;
}
a:hover span:nth-child(3)
{
left: 650px;
width: 255px;
background: linear-gradient(270deg,transparent,#7a2bcf);
transition: 2s;
}
a span:nth-child(7)
{
	top: 120px;
	left: 645px;
	width: 0px;
	height: 3px;
}
a:hover span:nth-child(7)
{
width: 255px;
background: linear-gradient(90deg,transparent,#7a2bcf);
transition: 2s;
}
a span:nth-child(2)
{
	top: 122px;
	left: 650px;
	width: 3px;
	height: 0px;
}
a:hover span:nth-child(2)
{
top: 32px;
height: 90px;
background: linear-gradient(360deg,transparent,#7a2bcf);
transition: 2s;
}

a span:nth-child(4)
{
	top: 32px;
	left: 900px;
	width: 3px;
	height: 0px;
}
a:hover span:nth-child(4)
{
top: 32px;
height: 91px;
background: linear-gradient(180deg,transparent,#7a2bcf);
transition: 2s;
}
a span:nth-child(5)
{
	top: 122px;
	left: 900px;
	width: 3px;
	height: 0px;
}
a:hover span:nth-child(5)
{
top: 32px;
height: 90px;
background: linear-gradient(360deg,transparent,#7a2bcf);
transition: 2s;
}
a span:nth-child(6)
{
	top: 32px;
	left: 650px;
	width: 3px;
	height: 0px;
}
a:hover span:nth-child(6)
{
top: 32px;
height: 90px;
background: linear-gradient(180deg,transparent,#7a2bcf);
transition: 2s;
}
/*КОНЕЦ ЗМЕЕК-------------------------------------------------------------------------------------*/

/*кнопки логин и регистрация*/
.registration {
	float: right;
	font-family: segoe print;
	margin: 0% 2% 0 0;
}
.registration a:hover{
color: white;
background: #7a2bcf78;
box-shadow: 0 0 10px #7a2bcf,0 0 30px #7a2bcf,0 0 60px #7a2bcf,0 0 80px #7a2bcf;
transition: 1s;
transition-delay: 0.2s;
border-radius: 50%;
}
.registration a:active{
	color: red;
	text-decoration: underline;
}


/*Ссылки в header*/
.menubar {
	width: 900px;
	height: 30px;
	font-size: 20px;
}
ul.menu li {
	float: left;
	padding: 0 0 0 8%;
	color: black;
}
ul.menu li a{
	color: #257d73;
}
ul.menu li a:hover {
	color: #032e1456;
	background: #a8f0af56;
	font-family: segoe print;
	font-size: 17px;
}


/*Сайт*/
.site_content{
	/*ШИРИНА ВСЕГО КОНТЕНТА НА САЙТЕ*/
	min-width: 880px;
	/*ШИРИНА ВСЕГО КОНТЕНТА НА САЙТЕ*/
	overflow: hidden;
	margin: 20px 22% 20px 1%;
	background-color: #88b7e3;
}
.text {
	text-align: center;
	font-size: 20px;
	position: relative;
}
.text:first-letter {
	font-size: 50px;
	color: red;
}
.text:before {
content: 'L' ;
}
.programmer{
width: 50%;
}
/*Боковая панель*/
.sidebar_container {
	float: right;
	width: 224px;
	position: absolute;
	top: 25%;
	left: 80%;
}
.sidebar{
	width: 222px;
	padding: 5% 3% 5% 4%;
	border: 1px solid #f2f2f2;
	border-radius: 5px;
	background-color: #88b7e3;
	margin: 0 0 5px 0px;
}
.sidebar h2{
	margin: 0 0 5px 0;
}
/*Поля ввода*/
.sidebar input {
	padding: 0;
	margin: 3% 5% 0 0;	
	font-size: 15px;
	background-color: #88b7e3;
	border: 0px solid #88b7e3;
}
.sidebar input:focus {
	transition: 0.4s;
	border-left: 10px solid #88b7e3;
}

input, textarea {
	margin: 10px 0 0px 15px;
	width: 125px;
	padding: 0 0 0 5%;
	border: 2px solid #e1f4fc;
	border-radius: 3px;
	height: 24px;
}
/*Стили кнопок*/
.btnsearch {
	cursor: pointer;
	border: none;
	width: 50px;
	float: right;
}
/*-----------------------footer----------------------*/
.footer {
	background-color: #88b7e3;
	margin-left: 0px;
	margin-right: 0px;
	min-width: 880px;
	text-align: right;
	height: 200px;
}

.phone {
	margin: 5px 5% 0 1000px;
	text-align: left;
	color: #000;
	font-family: segoe print;

}
.advantages {
	margin: 5px 5% 0 1000px;
	text-align: left;
	color: #000;
	font-family: segoe print;
}
.advantages li {
	padding: 5px;
}
.dk {
	height: 200px;
	width: 200px;
}
.picture{
	margin: 0px 0% 0 250px;
	text-align: left;
	position: absolute;
}



.white {
	color: red;
	text-align: left;
	font-size: 15px;
}
 
.canvas {
	background-color: red;
	position: absolute;
	top: 682px;
	left: 50px;
}

.backtext {
	color: #7a2bcf;
	position: absolute;
	opacity: 0;
	height: 405px;
	max-width: 75%;
	font-size: 25px;
	text-align: left;
	transform: rotateY(360deg);
	transition: 0.5s;

}

.form {
	opacity: 0;
	transform: rotateY(360deg);
	transition: 0.5s;

}
.see {
	opacity: 1;
	transition: 0.5s;

}

